.heading {
  font-family: 'Patrick Hand SC', sans-serif;
  font-weight: 400;

  @at-root h1#{&} {
    font-size: 4rem;
  }

  @at-root h2#{&} {
    font-size: 3rem;
  }

  @at-root h3#{&} {
    font-size: 2rem;
  }

  @at-root h4#{&} {
    font-size: 1.5rem;
  }

  @at-root h5#{&} {
    font-size: 1rem;
  }

  @at-root h6#{&} {
    font-size: .8rem;
  }
}

.typography {
  font-family: 'Neucha', sans-serif;
  font-size: 20px;
  color: #41403e;

  a,
  button,
  input,
  option,
  p,
  select,
  table,
  tbody,
  td,
  th,
  thead,
  tr {
    font-family: 'Neucha', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .heading
  }

  ul,
  ol {
    font-family: 'Neucha', sans-serif;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(5deg, transparent 65%, #0071de 80%, transparent 90%), linear-gradient(165deg, transparent 5%, #0071de 15%, transparent 25%), linear-gradient(165deg, transparent 45%, #0071de 55%, transparent 65%), linear-gradient(15deg, transparent 25%, #0071de 35%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 4px 3px;
    background-position: 0 90%;

    &:visited {
      text-decoration: none;
      color: #41403e
    }
  }
}