.form-group > label, .form-group legend {
  display: inline-block;
  margin-bottom: .5rem;
}

fieldset.form-group {
  border: none;
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.form-group .paper-check, .form-group .paper-radio {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
}

.form-group .paper-check input, .form-group .paper-radio input {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: none;
}

.form-group .paper-check input + span, .form-group .paper-radio input + span {
  display: block;
}

.form-group .paper-check input[type=radio]:checked + span:before, .form-group .paper-radio input[type=radio]:checked + span:before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='%230071DE' d='M49.346,46.341c-3.79-2.005,3.698-10.294,7.984-8.89 c8.713,2.852,4.352,20.922-4.901,20.269c-4.684-0.33-12.616-7.405-14.38-11.818c-2.375-5.938,7.208-11.688,11.624-13.837 c9.078-4.42,18.403-3.503,22.784,6.651c4.049,9.378,6.206,28.09-1.462,36.276c-7.091,7.567-24.673,2.277-32.357-1.079 c-11.474-5.01-24.54-19.124-21.738-32.758c3.958-19.263,28.856-28.248,46.044-23.244c20.693,6.025,22.012,36.268,16.246,52.826 c-5.267,15.118-17.03,26.26-33.603,21.938c-11.054-2.883-20.984-10.949-28.809-18.908C9.236,66.096,2.704,57.597,6.01,46.371 c3.059-10.385,12.719-20.155,20.892-26.604C40.809,8.788,58.615,1.851,75.058,12.031c9.289,5.749,16.787,16.361,18.284,27.262 c0.643,4.698,0.646,10.775-3.811,13.746'></path></svg>") left center no-repeat;
}

.form-group .paper-check input[type=radio] + span:before, .form-group .paper-radio input[type=radio] + span:before {
  border-top-left-radius: 1rem 1rem;
  border-top-right-radius: 1rem .6rem;
  border-bottom-right-radius: 1rem .9rem;
  border-bottom-left-radius: .7rem 1rem;
}

.form-group .paper-check input + span:before, .form-group .paper-radio input + span:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid #41403e;
  margin-right: .75em;
  vertical-align: -.25em;
}
