.list {
  @at-root ol#{&} {
    list-style-type: decimal;
  }

  @at-root ul#{&} {
    list-style: none;
    margin-left: 0;

    li {
      text-indent: -7px;
    }
  }

  ol {
    list-style-type: upper-alpha;
  }

  ol ol {
    list-style-type: upper-roman;
  }

  ol ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol ol {
    list-style-type: lower-roman;
  }

  ul li:before {
    position: relative;
    left: -7px;
    content: "-";
  }

  ul li:before {
    content: "+";
  }

  ul ul li:before {
    content: "~";
  }

  ul ul ul li:before {
    content: "⤍";
  }

  ul ul ul ul li:before {
    content: "⁎";
  }
}
