.badge {
  border: 2px solid #41403e;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #868e96;
  color: #fff;
  border-color: transparent
}

.primary {
  background-color: #41403e;
}

.secondary {
  background-color: #0071de;
}

.success {
  background-color: #86a361;
}

.warning {
  background-color: #ddcd45;
}

.danger {
  background-color: #a7342d
}

